<section id="slider">
  <input type="radio" name="slider" #s1 id="s1" />
  <input type="radio" name="slider" #s2 id="s2" checked />
  <input type="radio" name="slider" #s3 id="s3" />
  <input type="radio" name="slider" #s4 id="s4" />
  <input type="radio" name="slider" #s5 id="s5" />
  <label for="s1" id="slide1" (click)="goToTeachersView(s1.checked, s1.id)">
    <img src="../../../assets/1.jpg" alt="" />
  </label>
  <label for="s2" id="slide2" (click)="goToTeachersView(s2.checked, s2.id)">
    <img src="../../../assets/2.jpg" alt="" />
  </label>
  <label for="s3" id="slide3" (click)="goToTeachersView(s3.checked, s3.id)">
    <img src="../../../assets/3.jpg" alt="" />
  </label>
  <label for="s4" id="slide4" (click)="goToTeachersView(s4.checked, s4.id)">
    <img src="../../../assets/4.jpg" alt="" />
  </label>
  <label for="s5" id="slide5" (click)="goToTeachersView(s5.checked, s5.id)">
    <img src="../../../assets/5.jpg" alt="" />
  </label>
</section>
