<section class="main-container">
  <div class="content-container">
    <section class="banner-container">
      <img
        src="../../../../assets/perfil-banner.jpg"
        alt="Banner del perfil de la persona"
      />
      <h1>Natalia Ramírez</h1>
    </section>
    <section class="information-container">
      <div>
        <div class="profile-image">
          <img
            src="../../../../assets/profe.png"
            alt="Imagen de perfil de la persona"
          />
        </div>
        <div class="profile-contact">
          <h2>Natalia Ramírez</h2>
          <div class="contact-container">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </div>
        <div class="card-container">
          <h3>Sobre Natalia...</h3>
          <p><b>Profesión: </b>Gestora y promotora socio-cultural</p>
          <p><b>Hobbies: </b>Lectura, senderismo y recreación</p>
          <p><b>Años de experiencia: </b>14</p>
          <p><b>Cursos: </b>Teatro I, Teatro II, Teatro III</p>
        </div>
      </div>
      <div>
        <article class="perfil-information">
          <h3>Hola, soy Natalia...</h3>
          <p>
            La cultura transforma las sociedades y el amor por lo que se hace
            transforma tu vida y la de los demás…
          </p>
        </article>
        <article class="perfil-information">
          <h3>¿Qué labores realizo?</h3>
          <p>
            Me encargo de las áreas de Programación artística, Desarrollo de
            festivales, Manejo técnico del equipo electrónico para espectáculos,
            Comunicación y mercadeo, y Acompañamiento de personas asistentes y
            voluntarias.
          </p>
        </article>
        <article class="perfil-information">
          <h3>Acerca de mi experiencia</h3>
          <p>
            Tengo conocimientos y experiencia en actuación, recreación, técnicas
            pedagógicas y mercadeo; por más de una década me he dedicado a la
            gestión cultural en el cantón de Cartago, Costa Rica, y a la
            capacitación lúdica donde pueda compartir y disfrutar con las
            personas.
          </p>
        </article>
      </div>
    </section>
    <section></section>
  </div>
</section>
