.main-container {
  width: 100%;
  height: auto;
  padding: 100px 157px;
  overflow-x: hidden;
  position: relative;
}

.blob-container_banner {
  top: -200px;
  width: 100%;
  right: -30vw;
  position: absolute;
  z-index: -1;
  .banner {
    width: 200%;
    height: 1050px;
    fill: var(--celeste-claro);
  }
}

.blob-container_know {
  top: 60vh;
  width: 100%;
  left: -280px;
  position: absolute;
  z-index: -1;

  .know {
    width: 100%;
    height: 850px;
    fill: var(--celeste-claro);
  }
}

.blob-container_enrollment {
  top: 140rem;
  right: -80;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: -1;

  .enrollment {
    width: 100%;
    height: 850px;
    fill: var(--ocre-claro);
  }
}

@media screen and (max-width: 1500px) {
  .main-container {
    padding: 100px 60px;
  }
}

@media screen and (max-width: 1000px) {
  .blob-container_know {
    top: 80rem;
  }

  .blob-container_enrollment {
    top: 185rem;
    .enrollment {
      height: 550px;
    }
  }
}

@media screen and (max-width: 852px) {
  .main-container {
    padding: 100px 15px;
    h1 {
      font-size: 4.5rem;
      margin-bottom: 55px;
    }
  }
}

@media screen and (max-width: 700px) {
  .blob-container_banner {
    top: -200px;
    right: -20vw;
  }

  .blob-container_know {
    top: 105vh;
    left: -100px;
    .know {
      height: 550px;
    }
  }

  .blob-container_enrollment {
    top: 190rem;
    .enrollment {
      width: 100%;
      height: 400px;
    }
  }
}

@media screen and (max-width: 425px) {
  .main-container {
    h1 {
      font-size: 4rem;
      line-height: 5rem;
    }
  }

  .blob-container_know {
    top: 95vh;
    left: -100px;
    .know {
      height: 550px;
    }
  }

  .blob-container_enrollment {
    top: 200vh;
    .enrollment {
      width: 100%;
      height: 300px;
    }
  }

  .blob-container_know {
    .know {
      width: 100%;
      height: 300px;
    }
  }
}
