.header-main {
  width: 100%;
  height: auto;
  position: relative;
}

.main-menu {
  width: 100%;
  height: 95px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  background-color: var(--blanco);
}

.deep-menu {
  width: 100%;
  height: 80px;
  padding: 10px 80px;
  background-color: var(--azul-primario);
  position: absolute;
  z-index: -1;
  left: 0vw;
  transform: translateX(120vw);
  transition: ease-in-out, transform 700ms ease-in-out;

  &.show {
    transform: translateY(0vw);
  }

  .nav-deep {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      margin-left: 45px;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: medium;
      line-height: 1.6rem;
      letter-spacing: 1%;
      color: var(--blanco);
    }
  }
}

.courses-btn {
  cursor: pointer;
}

.burger-menu {
  display: none;
}

.logo-container {
  width: 20%;
  img {
    width: 125px;
    height: 81px;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
  }
}

.nav-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;

  a {
    margin-left: 45px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: medium;
    line-height: 1.6rem;
    letter-spacing: 1%;
    color: var(--azul-oscuro);
  }
}

@media screen and (max-width: 1275px) {
  .main-menu, .deep-menu  {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 950px) {
  .burger-menu {
    display: block;
  }
  .main-menu {
    justify-content: space-between;
    .logo-container {
      display: flex;
      justify-content: flex-end;
      img {
        width: 90px;
      }
    }

  }
  .nav-container {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .main-menu, .deep-menu {
    padding: 10px 15px;
  }
  .main-menu {
    img {
      width: 80px;
    }
  }
}
