<header class="header-main">
  <div class="burger-menu">
    <app-side-menu></app-side-menu>
  </div>
  <div class="logo-container">
    <img
      routerLink=""
      src="./../../../../assets/img/Logo-simple-CC.svg"
      alt="Logo de Casa de la Ciudad"
    />
  </div>
  <nav class="nav-container">
    <a href="#"><p>Eventos</p></a>
    <a href="#"><p>Cursos</p></a>
    <a href="#"><p>Servicios</p></a>
    <a href="#"><p>Equipo de trabajo</p></a>
    <a routerLink="/historia"><p>Historia</p></a>
  </nav>
</header>
