.main-container {
  width: 100%;
  height: auto;
  position: relative;
}

.blob-container {
  position: absolute;
  z-index: -1;

  svg {
    width: 1110px;
    height: 820px;
    fill: var(--ocre-claro);
  }
}

.content-container {
  width: 100%;
  padding: 80px 157px;
  h1 {
    color: var(--azul-oscuro);
    margin-bottom: 75px;
  }
}

.image-container {
  max-width: 75%;
  height: 50vh;
  min-width: 860px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

vm-player {
  --vm-player-width: 100%;
  --vm-player-height: 100%;
  --vm-player-border-radius: 15px;
  --vm-player-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.55);
}

.history-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 80px 50px;
}

.card-message {
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
