.main-container {
  max-width: 1030px;
  min-width: 200px;
  margin: 0px auto;
  padding: 30px;
  height: auto;
  display: flex;
  align-items: center;
  background-color: rgba(223, 244, 253, 0.8);
  border-radius: 10px;
}

.tittle-container {
  width: 50%;
  position: relative;

  h2 {
    color: var(--azul-oscuro);
  }

  .part-one {
    position: relative;
    left: -60px;
  }

  .part-two {
    position: relative;
    left: -20px;
  }
  .part-three {
    display: none;
    text-align: center;
    margin-bottom: 10px;
  }
}

.info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: var(--texto-sobre-blanco);
  }
}

@media screen and (max-width: 1100px) {
  .tittle-container {
    h2 {
      font-size: 3.1rem;
    }
  }
}

@media screen and (max-width: 850px) {
  .main-container {
    flex-direction: column;
    padding: 25px 22px;
  }
  .tittle-container {
    width: 100%;
    .part-one {
      text-align: center;
      top: -10px;
      display: none;
      position: relative;
    }
    .part-two {
      text-align: center;
      top: -10px;
      display: none;
      position: relative;
    }
    .part-three {
      top: -30px;
      display: block;
    }
  }
  .info-container {
    width: auto;
  }
  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

