.main-footer {
  width: 100%;
  height: auto;
  padding: 40px 80px;
  background-color: var(--azul-oscuro);
}

.information-section {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.social-contacts__container {
  height: 197px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h5 {
    color: var(--blanco);
  }
  .button-container {
    margin: 20px 0px;
    display: flex;
  }
  .social-network {
    display: inline-block;
    justify-self: left;
  }
}

.button-container {
  input {
    width: 363px;
    height: 37px;
    border-radius: 5px;
    border: none;
    background-color: #2f70aa;
  }
  input::placeholder {
    font-size: 1.6rem;
    font-weight: regular;
    color: var(--blanco);
  }
  input::content {
    padding: 10px 10px;
    font-size: 1.6rem;
    font-weight: regular;
    color: var(--blanco);
  }
  button {
    margin-left: 25px;
    border: none;
    background-color: transparent;
  }
  button:hover {
    cursor: pointer;
  }
}

.social-network {
  a {
    margin-right: 40px;
    text-decoration: none;
  }
}

.contact-container {
  height: 197px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    display: flex;
    align-items: center;
    font-weight: regular;
    text-decoration: none;
    color: white;
    p {
      margin-left: 20px;
    }
  }
}

.logos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .first {
    width: 204px;
    height: 70px;
    object-fit: contain;
    object-position: center;
  }
  .second {
    height: 174px;
    height: 33px;
    object-fit: contain;
    object-position: center;
  }
}

.terms-and-conditions {
  display: flex;
  align-items: flex-end;
  margin-top: 35px;
  p {
    margin-right: 10px;
    color: var(--celeste-oscuro);
  }
  a {
    text-decoration: none;
  }
  br {
    display: none;
  }
}

@media screen and (max-width: 1275px) {
  .main-footer {
    padding: 40px 20px;
  }
  .button-container {
    input {
      width: 280px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .information-section {
    grid-template-columns: 1fr 1fr;
  }
  .logos-container {
    grid-area: 2 / 1 / 2 / 3;
    display: flex;
    flex-direction: row;
    padding-top: 35px;
  }
  .terms-and-conditions {
    p {
      font-size: 1.4rem;
      margin: 4px;
    }
  }
}

@media screen and (max-width: 820px) {
  .information-section {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 35px;
  }
  .logos-container {
    grid-area: auto;
    padding-top: 0px;
  }
  .social-contacts__container {
    .social-network {
      display: flex;
      justify-content: space-around;
      a {
        margin-right: 0px;
      }
    }
  }
  .terms-and-conditions {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    br {
      display: block;
    }
    .hide {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .main-footer {
    padding: 40px 10px;
  }
  .social-contacts__container {
    h5 {
      display: flex;
      justify-content: center;
      font-size: 1.7rem;
    }
  }
  .logos-container {
    flex-direction: column;
    .first {
      margin-bottom: 35px;
    }
  }
  .button-container {
    input {
      width: 238px;
    }
  }
  .contact-container {
    p {
      font-size: 1.5rem;
    }
  }
}
