<section class="content-container">
  <h4>También podés revisar esta guía</h4>
  <section class="grid-services_container">
    <div routerLink="./1" class="service-card">
      <div class="image-container">
        <img src="../../../../assets/livinroom.jpg" alt="" />
      </div>
      <h3>Paso 1</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        nostrum dicta ea, eos quos perferendis neque odit architecto maiores
        inventore odio voluptatibus fuga magnam adipisci. Amet harum eum fuga
        in.
      </p>
    </div>
    <div routerLink="./1" class="service-card">
      <div class="image-container">
        <img src="../../../../assets/livinroom.jpg" alt="" />
      </div>
      <h3>Paso 2</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        nostrum dicta ea, eos quos perferendis neque odit architecto maiores
        inventore odio voluptatibus fuga magnam adipisci. Amet harum eum fuga
        in.
      </p>
    </div>
    <div routerLink="./1" class="service-card">
      <div class="image-container">
        <img src="../../../../assets/livinroom.jpg" alt="" />
      </div>
      <h3>Paso 3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        nostrum dicta ea, eos quos perferendis neque odit architecto maiores
        inventore odio voluptatibus fuga magnam adipisci. Amet harum eum fuga
        in.
      </p>
    </div>
    <div routerLink="./1" class="service-card">
      <div class="image-container">
        <img src="../../../../assets/livinroom.jpg" alt="" />
      </div>
      <h3>Paso 4</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        nostrum dicta ea, eos quos perferendis neque odit architecto maiores
        inventore odio voluptatibus fuga magnam adipisci. Amet harum eum fuga
        in.
      </p>
    </div>
  </section>
</section>
